@model Centromedico.Database.DbModels.horarios_medicos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>horarios_medicos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tiempo_cita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tiempo_cita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monday_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monday_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monday_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monday_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tuesday_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tuesday_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tuesday_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tuesday_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wednesday_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wednesday_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wednesday_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wednesday_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thursday_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thursday_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thursday_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thursday_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friday_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friday_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.friday_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.friday_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.saturday_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.saturday_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.saturday_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.saturday_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunday_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunday_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sunday_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sunday_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.free_time_from)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.free_time_from)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.free_time_until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.free_time_until)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medicos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medicos.apellido)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="medicosID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
